#main {
    padding: 1em;
}

.flash { 
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 1em;
    padding-top: 5px;
    padding-bottom: 5px;
    background: #cae6f6; 
    border: 1px solid #377ba8;
    text-align: center;
}

#directions {
    text-align: center;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
}

#searchbutton {
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    padding: 1em;
    background-color: #0f4d90;
    color: white; 
}

#addressinput {
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    padding: 1em; 
    text-align: center;
}

#addresstable {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

td {
    text-align: center;
    padding: 1em; 
}