{% extends 'base.html' %}

{% block header %}
    <div class="text-center">{% block title %}Search Results{% endblock %}</div>
{% endblock %}

{% block content %}
    <div class="container center-div">
    {{ message }}
    {% for license in licenses %}
        <ul>
            <li>
                License Number: {{ license.licensenumber }}
            </li>
            <li>
                OPA Address: {{ license.opaaddress }}
            </li>
            <li>
                OPA Account Number: {{ license.opaaccountnumber }}
            </li>
            <li>
                Number of Units: {{ license.numberofunits }}
            </li>
            <li>
                Owner Occupied: {{ license.owneroccupied }}
            </li>
            <li>
                Total Fee Payments: {{ license.totalfeepayments }}
            </li>
        </ul>
    {% endfor %}
    <form action="{{ url_for('address') }}" method="post">
        <div class="form-group">
            <input type="text" name="addressform">
        </div>
        <div class="form-group">
            <button class="btn btn-primary">Search Addresses</button>
        </div>
    </form>
    </div>
{% endblock %}